<div class="estudiantes-container">
  <div class="section">

    <!-- Header -->
    <div class="section-header">
      <h1 class="page-title">📅 Períodos Academicos</h1>
      <button class="btn btn-primary"
      (click)="toggleFormulario()">
      <span *ngIf="!mostrarFormulario">➕ Nuevo Periodo</span>
      <span *ngIf="mostrarFormulario">❌ Cancelar</span>
      </button>
    </div>


    <!-- Formulario nuevo periodo -->
    <app-periodo-form
      *ngIf="mostrarFormulario"
      [periodoEditar]="periodoSeleccionado"
      (periodoCreado)="onPeriodoCreado()"
      (periodoActualizado)="onPeriodoActualizado()">
    </app-periodo-form>

    <!-- Tabla -->
    <div class="table-container">
      <table class="periodos-table">
        <thead>
          <tr>
            <th>Perido</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Matricula Inicio</th>
            <th>Matricula Cierre</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="periodos$ | async as periodos">

          <tr *ngFor="let per of periodos; let i = index"
              class="table-row"
              [style.animation-delay]="(i * 0.05) + 's'">

            <td><strong class="periodo-name">{{ per.nombre }}</strong></td>

            <td>{{ per.fechaInicio | date:'dd/MM/yyyy' }}</td>
            <td>{{ per.fechaFin | date:'dd/MM/yyyy' }}</td>
            <td>{{ per.fechaMatriculaInicio | date:'dd/MM/yyyy' }}</td>
            <td>{{ per.fechaMatriculaFin | date:'dd/MM/yyyy' }}</td>
            <td>
              <span 
              class="status-badge"
              [class.active]="per.estadoMatricula === true"
              [class.inactive]="per.estadoMatricula === false">
              {{ per.estadoMatricula }}
              </span>
            </td>

            <td>
              <div class="action-buttons">
                <button class="btn-icon btn-view"
                        (click)="verDetalles(per.idPeriodo)"
                        title="Ver detalles">👁️</button>

                <button class="btn-icon btn-edit"
                        (click)="editarPeriodo(per)"
                        title="Editar">✏️</button>

                <button class="btn-icon btn-delete"
                        title="Eliminar">🗑️</button>
              </div>
            </td>

          </tr>

          </ng-container>
        </tbody>

      </table>
    </div>
  </div>


   <div class="no-data" *ngIf="(periodos$ | async)?.length === 0">
    <div class="no-data-icon">📅</div>
    <p>No hay peridodos registrados</p>
    <button class="btn btn-primary" (click)="toggleFormulario()">
      Crear Primer Periodo
    </button>
  </div>

</div>